*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(#FFBB01,#f2b409,limegreen);*/
    background-color: dodgerblue;
    display : flex;
    overflow: hidden;
}

.glassmorphism{
    height: 94%;
    width: 45%;
    position: absolute;
    left: 29%;
    top: 2.5%;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    display : flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    z-index: 2;
}

.container-list{
    width: 100%;
    height: 20%;
    display : flex;
    overflow: hidden;
}

.btn{
    width: 50%;
    height: 46%;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 2;
    letter-spacing: 1px;
    color: #630505;
    font-size: large;
    font-family: fantasy;
    transition: background-color 2s;
}

.btn:hover{
    background-color:rgb(5, 106, 208);
    border-bottom: 2px solid white;
    color: white;
    transform: translate(0,9px);
}

.btn:active{
    background-color:forestgreen;
}

.input-list{
    height: 76%;
    width: 100%;
    padding: 2%;
    display : flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.input-section{
    display: flex;
    height: 15%;
    width: 100%;
    padding: 1%;
}

.input-type{
    height: 100%;
    width: 20%;
    color: #630505;
    font-size: x-large;
    font-family:helvetica;
    display : flex;
    align-items: center;
    justify-content:center;
    font-style: italic;
    font-weight: bold;
}

.input{
    width:80%;
    height:100%;
    padding: 2%;
    display : flex;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.bubbles{
    position: relative;
    display: flex;
    max-height: 100vh;
    width: 100%;
}

.background-effect{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius:50%;
    position: relative;
    box-shadow: 5px 5px #d9edca, 10px 10px #606358, 15px 15px green;
}

.background-effect::after{
    content:'';
    height: 2%;
    width: 1%;
    background-color: white;
}

.background-effect:nth-child(even){
    background-color: pink;
    box-shadow: 5px 5px #f1bbd0c0, 10px 10px #606358, 15px 15px green;
}

@keyframes animate{
    from{
        transform: translate(0, 0) scale(0.2);
    }
    to{
        transform: translate(0,100vh) scale(1);
    }
}

#buuble-1{
    top:3%;
    left:3%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-2{
    top:3%;
    left:5%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-3{
    top:3%;
    left:6%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-4{
    top:3%;
    left:13%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-5{
    top:3%;
    left:17%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-6{
    top:3%;
    left:7%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-7{
    top:3%;
    left:4%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-8{
    top:3%;
    left:1%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-9{
    top:3%;
    left:58%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-10{
    top:3%;
    left:64%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-11{
    top:3%;
    left:70%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-12{
    top:3%;
    left:76%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-13{
    top:3%;
    left:85%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-14{
    top:3%;
    left:93%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-15{
    top:3%;
    left:97%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-16{
    top:3%;
    left:59%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-17{
    top:3%;
    left:62%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-18{
    top:3%;
    left:66%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-19{
    top:3%;
    left:74%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-20{
    top:3%;
    left:78%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-21{
    top:3%;
    left:82%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

#buuble-22{
    top:3%;
    left:84%;
    animation: animate 2s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.animate{
    display: block;
    position: absolute;
    border: 8px solid white;
    height: 16%;
    width: 7%;
}

@keyframes anime{
    from{
        opacity: 0.8;
        transform: translateY(0) rotate(0deg);
    }
    to{
        opacity: 0;
        transform: translate(0,40%) rotate(90deg);
    }
}

#box-1{
    top: 10%;
    left: 5%;
    animation: anime 6s linear infinite alternate;
}

#box-2{
    top: 20%;
    left: 20%;
    animation: anime 6s linear infinite alternate;
}

#box-3{
    top: 40%;
    left: 33%;
    animation: anime 6s linear infinite alternate;
}

#box-4{
    top: 60%;
    left: 50%;
    animation: anime 6s linear infinite alternate;
}

#box-5{
    top: 10%;
    left: 55%;
    animation: anime 6s linear infinite alternate;
}

#box-6{
    top: 20%;
    left: 67%;
    animation: anime 6s linear infinite;
}

#box-7{
    top: 30%;
    left: 80%;
    animation: anime 6s linear infinite;
}

#box-8{
    top: 40%;
    left: 90%;
    animation: anime 6s linear infinite;
}

#box-9{
    bottom:27%;
    left: 10%;
    animation: anime 6s linear infinite;
}

#box-10{
    bottom: 28%;
    left: 71%;
    animation: anime 6s linear infinite;
}

#box-11{
    top: 1%;
    left: 81%;
    animation: anime 6s linear infinite;
}

#box-12{
    bottom: 11%;
    left: 32%;
    animation: anime 6s linear infinite;
}

#box-13{
    top: 1%;
    left: 36%;
    animation: anime 6s linear infinite;
}
